<div class="well">
  <form name="playListForm" class="form-horizontal">
    <fieldset>
      <legend>New Playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" ng-maxlength="16" name="playListNameField" ng-model="playListName" required autocomplete="off">
        </div>
        <div class="alert alert-warning" ng-show="playListForm.playListNameField.$dirty && playListForm.playListNameField.$invalid">Playlist name is invalid</div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button type="submit" class="btn btn-success" ng-disabled="playListForm.$invalid" ng-click="playListSubmit()">Create Playlist</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


